ul{
    list-style: none;
  }
  .course-bar{
    font-size: 1.5rem;
  }
  .good-state {
    background: #ffffff;
  }
  .bad-state {
    background: #FF0000;
  }
  .inter-state {
    background:#FFDC00;
  }
.barraCurso {
  font-size: 1.5rem;
}